<header class="header">
        <img src="/img/Logo.png" alt="Logo del juego" />
        <div class="title">
            <h1>PREGUNTADORT</h1>
        </div>
        <div class="nav-links">
            <a href='@Url.Action("ConfigurarJuego","Home")'><button type="button" class="btn">Jugar</button></a>
            <a href='@Url.Action("Creditos","Home")'><button type="button" class="btn">Créditos</button></a>
        </div>
    </header>

    <div class="Fin"
    <h1> Felicidades @ViewBag.UserName </h1>
    <p>Terminaste el Juego!</p>
    <p> Tu puntaje fue de: @ViewBag.Puntaje puntos </p>
    <a href='@Url.Action("ConfigurarJuego","Home")'><button type="button" class="btn">Volver a Jugar</button></a>
    </div>

     <footer>
        &copy; 2024 PREGUNTADORT | Indiana Sasson y Sol Izraelewicz
    </footer>