

<div class="Jugar">

<p> Vamos a ver cuánto sabes @ViewBag.UserName</p>
<p>Pregunta: @ViewBag.PreguntaActual.Enunciado<p>
<img src="@ViewBag.PreguntaActual.Foto" />
@foreach(var item in @ViewBag.Respuestas)
{
    <a href= '@Url.Action("VerificarRespuesta", "Home", new {IdRespuesta = item.IdRespuesta})'> @item.Contenido </a>
}

<div>